{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "jsxPragma": "React",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
      "ts": true
    }
  },
  "plugins": [
    "eslint-plugin-react",
    "eslint-plugin-react-hooks",
    "eslint-plugin-jsx-a11y",
    "eslint-plugin-import",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended"
//    "plugin:@typescript-eslint/recommended",
//    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "linebreak-style": "off",
    "max-len": "off"
  }
}